<script type="text/template" id="bookmarker_collections_template">
	<% 
	var collectionsActive = false;
	for(var i = 0; i < collections.length; i++){ 
		if(!collections[i].disabled){
			collectionsActive = true;
		}
	}

	if(!collectionsActive){
		print("<option value=\"null\" selected=\"selected\">No allowed collection</option>");
	}

	for(var i = 0; i < collections.length; i++){ %>
		<option value="<%= collections[i].path %>" <% if(collections[i].selected && collectionsActive){ print("selected=\"selected\""); } %> <% if(collections[i].disabled){ print("disabled=\"disabled\""); } %> ><%= collections[i].name %></option>
	<% } %>
</script>
<!-- bookmark form -->
<div id="bookmark-form">
	<div>
		<div class="collection-selector">
			<h3>ADD TO COLLECTION</h3>
			<form class="select-collection-form">
				<div class="select-wrap">
					<select class="collections">
						
					</select>
					<i class="glyphicon glyphicon-chevron-down fa fa-chevron-down"></i>
				</div>
				<a class="folder-action" data-toggle="collapse" href="#new-collection-form" aria-expanded="false" aria-controls="new-collection-form">
		  			ADD NEW COLLECTION
				</a>
				
				<input type="submit" value="DONE" class="btn btn-primary btn-euscreen btn-block collection-done-button"/>
			</form>
		</div>
		<div id="new-collection-form" class="collapse" style="width: 100%;">
			<h3>NEW COLLECTION</h3>
			<form class="new-collection-form">
				<p class="message warning" style="display: none;">That collection already exists!</p>
        		<input id="collection-name" placeholder="New collection name" class="form-control" type="text"/>
        		<input type="submit" value="CREATE" class="btn btn-primary btn-euscreen btn-block no-prod"/>
			</form>
			<input type="submit" value="CANCEL" class="btn btn-primary btn-euscreen btn-block no-prod cancel"/>
		</div>
		<div id="collection-success-message" class="collapse">
			<p class="message success">The item has been added to the collection!</p>
			<input type="submit" value="DONE" class="btn btn-primary btn-euscreen btn-block collection-done-button"/>
		</div>
	</div>
</div>