<div class="contents">
</div>
<script type="text/template" id="terms-of-use-template">
	<div id="terms-of-use">
		<!-- title -->
		<h3>TERMS OF USE</h3>
		<p>
			<%= data.copyright %>
	   	</p>

	    <!-- toggle button -->
	    <p>
	   		<a class="switch-action" href="#media-action" id="contact-button">Contact the provider</a>
	    </p>
	</div>
	<div id="contact-provider" style="display:none;" >

		<!-- title -->
		<h3>CONTACT PROVIDER</h3>
		<p>
			Please fill in the form below to contact the provider of this item.
			A copy of the message will be sent to the email address that you provide in the form
		</p>

		<!-- contact form -->
		<form class="contact-provider-form">
			<input type="hidden" name="provider" value="<%= data.provider %>">
			<!-- info -->
			<div class="form-group">
		    	<label>TITLE</label>
		    	<span>The state of the world</span>
		    	<input type="hidden" name="title" value="<%= data.title %>">
		  	</div>
			<div class="form-group">
		    	<label>IDENTIFIER</label>
		    	<span>EUS_8D4A3D3653D74EA4A984470E9E6A0E4B</span>
		    	<input type="hidden" name="identifier" value="<%= data.id %>">
		  	</div>
		  	<div class="form-group">
		    	<label>TO</label>
		    	<span><%= data.providerReadable %></span>
		  	</div>

		  	<!-- user input -->
		  	<div class="form-group space">
				<input type="email" class="form-control" id="input-email" placeholder="Your email">
			  	<input type="text" class="form-control" id="input-subject" placeholder="Subject">
			  	<textarea class="form-control" id="input-message" placeholder="Message"></textarea>
			</div>

			<!-- submit -->
		  	<button type="button" class="btn btn-euscreen" id="btn-submit-contact" data-loading-text="SENDING...">SUBMIT</button>
		  	
		  	<!-- notification -->
		  	<div class="form-notification">
		  		Your message has been succesfully sent.
		  	</div>
		</form>

		<!-- back button -->
	    <p>
	   		<a href="#media-action" id="terms-button">Back to terms of use</a>
	    </p>
	</div>
</script>
