<div class="contents">
</div>
<script type="text/template" id="terms-of-use-template">
	<div id="terms-of-use">
		<!-- title -->
		<h3>TERMS OF USE</h3>
		<p>
			<%= data.copyright %>
	   	</p>

	    <!-- toggle button -->
	    <p>
	   		<a class="switch-action" href="#media-action" id="contact-button">Contact the provider</a>
	    </p>
	</div>
	<div id="contact-provider" style="display:none;" >

		<!-- title -->
		<h3>CONTACT PROVIDER</h3>
		<p>
			Please fill in the form below to contact the provider of this item.
			A copy of the message will be sent to the email address that you provide in the form
		</p>

		<!-- contact form -->
		<form class="contact-provider-form">
			<input type="hidden" name="provider" value="<%= data.provider %>">
			<!-- info -->
			<div class="form-group">
		    	<label>IDENTIFIER</label>
		    	<span><%= data.id %></span>
		    	<input type="hidden" name="identifier" value="<%= data.id %>">
		  	</div>
		  	<div class="form-group">
		    	<label>TITLE</label>
		    	<span><%= data.title %></span>
		    	<input type="hidden" name="title" value="<%= data.title %>">
		  	</div>

		  	<!-- user input -->
		  	<div class="form-group space">
				<input type="email" class="form-control" id="input-email" placeholder="Your email" name="email">
			  	<input type="text" class="form-control" id="input-subject" placeholder="Subject" name="subject">
			  	<textarea class="form-control" id="input-message" placeholder="Message" name="message"></textarea>
			</div>

			<!-- submit -->
		  	<button type="submit" class="btn btn-euscreen">SUBMIT</button>
		  	<span id="mailresponse"></span>
		</form>

		<!-- back button -->
	    <p>
	   		<a class="switch-action" href="#media-action" id="terms-button">Back to terms of use</a>
	    </p>
	</div>
</script>
