<div id="login-form">
	<h3>SIGN IN TO BOOKMARK</h3>
	<div class="login-form visible">
        <form class="login">
        	<p class="message warning" style="display: none;">Username or password not correct!</p>
            <input id="bookmark-user-email" placeholder="Email or username" class="form-control" type="text"/>
            <input id="bookmark-user-password" placeholder="Password" class="form-control" type="password" />
            <input type="submit" value="LOGIN" class="btn btn-primary btn-euscreen btn-block no-prod" />
        </form>
        <span class="extra">
        	<a href="forgot-password.html" data-prod="false">Forgot password?</a> | <a href="sign-up.html" data-prod="false">Sign up</a>
        </span>
    </div>
</div>