<script type="text/template" class="video-template">
	<%  
		var aspectClass = "wide";
		if(video.aspectRatio != "16:9"){
			aspectClass = "normal";
		}
	%>
	<div class="media-player col-md-12 aspect-ratio <%= aspectClass %>"> 
		<div class="player" id="media-player">
			<video id="sampleMovie" width="640" poster="<%= video.screenshot %>" height="360" preload controls>
				<% for(var i = 0; i < video.sources.length; i++){
					var src = video.sources[i]; %>
					<source src="<%= src.src %>" type="<%= src.mime %>">
				<% } %>
			</video>
		</div>
	</div>
</script>

<script type="text/template" class="audio-template">
	<div class="col-md-12 audio-player-minimal">
		<audio controls="controls">
			<source type="<%= audio.mime %>" src="<%= audio.src %>"></source>
		</audio>
	</div>
</script>

<script type="text/template" class="picture-template">
	<div class="col-md-12 image-player">
		<a href="#image-modal" title="Zoom in" data-toggle="modal" data-img-url="<%= picture.src %>">
			<span class="zoom"><i class="glyphicon glyphicon-search"></i></span>
			<img src="<%= picture.src %>" class="img-responsive"/>	
		</a>
	</div>
</script>

<script type="text/template" class="doc-template">
	<div class="media-player col-md-12 aspect-ratio normal">
		<iframe src="/eddie/apps/euscreenxlelements/libs/ViewerJS/#<%= doc.src %>" width='100%' height='100%' allowfullscreen webkitallowfullscreen></iframe>
	</div>
</script>
