.page .main.item .view-item{
  background-color: black;
  color: white;
  width: 100%;
  padding-bottom: 56%;
  text-align: center;
  position: relative;
}

.page .main.item .view-item.non-visible{
	background: none;
	padding: 0;
}

.page .main.item .view-item .wrapper{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}
.page .main.item .view-item .wrapper video {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
.page .main.item .view-item .wrapper img {
    height: 100%;
}
.page .main.item .view-item .wrapper audio {
    width: 100%;
}
.page .main.item .related aside.related {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
.page .main.item .related aside.related .related-item {
  text-align: center;
  width: 100%;
  padding-bottom: 56%;
  margin: 0 0 10px 0;
  background-color: brown;
}
.page .main.item .related .ad {
  float: left;
  width: 100%;
  padding-bottom: 56%;
  text-align: center;
  background-color: yellowgreen;
}

.page .media-item{
	margin: 0 0 10px 0;
}

.page .media-item .media-wrapper {
  position: relative;
}
.page .media-item .media-wrapper .media-object {
  width: 100%;
}

.page .media-item .media-wrapper .media-length {
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-radius: 3px;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 1px 6px 1px 6px;
  line-height: 1.48em;
  font-size: 0.857em;
  background: rgba(0, 0, 0, 0.1);
  font-family: 'Titillium Web', 'DIN', Monaco, Menlo, Consolas, monospace;
  z-index: 7;
}
.page .media-item .media-wrapper .media-type {
  background: url("/eddie/img/euscreenxlsearch/sprites.png");
  position: absolute;
  bottom: 0;
  right: 0;
  bottom: 14px;
  right: 10px;
  z-index: 7;
}
.page .media-item .media-wrapper .media-type.video {
  width: 18px;
  height: 14px;
  background-position: -253px 0;
}
.page .media-item .media-wrapper .media-type.audio {
  width: 18px;
  height: 15px;
  background-position: -286px 0;
}
.page .media-item .media-wrapper .media-type.text {
  width: 16px;
  height: 16px;
  background-position: -304px 0;
}
.page .media-item .media-wrapper .media-type.image {
  width: 15px;
  height: 14px;
  background-position: -271px 0;
}

.page .media-item .media-wrapper .title{
	font-family: 'Titillium Web', 'DIN', Monaco, Menlo, Consolas, monospace;
	width: 100%;
	position: absolute;
	z-index: 3;
	top: 10px;
	transition: opacity 0.35s;
	opacity: 0;
	color: white;
	text-align: center;
}

.page .media-item:hover .media-wrapper .title{
	opacity: 1;
}

.page .media-item .media-wrapper .media-hue {
  background: rgba(140, 198, 63, 0.6);
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 1.8em;
  opacity: 0;
  transition: opacity 0.35s;
}
.page .media-item .media-wrapper .media-hue i {
  top: 50%;
  margin-top: -20px;
}
.page .media-item:hover .media-wrapper .media-hue {
  opacity: 1;
}