<div class="page desktop">
  <header id="header">
  	<!-- HEADER HERE -->
  </header>
  <div class="container main item">
    <div class="row">
		<div class="col-md-8 item">
            <article>
                <div class="row">
                    <div class="col-md-12">
                        <div class="view-item" id="viewer">
                           
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 meta-information">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="navbar-default">
                                    <div class="container-fluid">
                                        <!-- Brand and toggle get grouped for better mobile display -->
                                        <div class="navbar-header">
                                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                                    data-target="#bs-example-navbar-collapse-2">
                                                <span class="sr-only">Toggle navigation</span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </button>
                                            <a class="navbar-brand title" class="item-title" href="#" data-field="title">&nbsp;</a>
                                        </div>

                                        <!-- Collect the nav links, forms, and other content for toggling -->
                                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                                            <form class="navbar-form navbar-right">
                                                <div class="form-group">
                                                    <button type="button"
                                                            data-title="TERMS"
                                                            class="btn btn-default terms"
                                                            data-container="body"
                                                            data-popup="#popup-contents-terms"
                                                            data-placement="bottom"
                                                            data-height="70%">
                                                        <span class="glyphicon glyphicon-copyright-mark"></span>
                                                    </button>
                                                    <button type="button"
                                                            class="btn btn-default social"
                                                            data-title="SOCIAL"
                                                            data-container="body"
                                                            data-popup="#popup-contents-social"
                                                            data-placement="bottom"
                                                            data-height="70%">
                                                        <span class="glyphicon glyphicon-user"></span>
                                                    </button>
                                                    <button type="button"
                                                            class="btn btn-default bookmark"
                                                            data-title="BOOKMARK"
                                                            data-container="body"
                                                            data-popup="#popup-contents-bookmark"
                                                            data-placement="bottom"
                                                            data-height="70%">
                                                        <span class="glyphicon glyphicon-star"></span>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- /.navbar-collapse -->
                                    </div>
                                    <!-- /.container-fluid -->
                                </div>
                            </div>
                        </div>
                        <div class="row basic-info">
                            <div class="col-md-6">
                                <span class="label">Original title:</span><span class="value" data-field="originalTitle">&nbsp;</span><br/>
                                <span class="label">Provider:</span><span class="value" data-field="provider">&nbsp;</span><br/>
                                <span class="label">Production year:</span><span class="value" data-field="productionYear">&nbsp;</span><br/>
                                <span class="label">Country of production:</span><span class="value" data-field="country">&nbsp;</span><br/>
                            </div>

                            <div class="col-md-6 description">
                                <span class="label summary">Summary:</span>

                                <p data-field="summary">&nbsp;</p>         

                                <p class="series">This is part of the the series <a href="series">Best of BBC</a></p>
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-default btn-sm more-info" data-toggle="collapse"
                                        data-target="#item-more-info"><span class="glyphicon glyphicon-plus"> More info</span>
                                </button>
                            </div>
                        </div>
                        <div class="row more-info collapse" id="item-more-info">
                            <div class="col-md-6">
                                <span class="label">Clip title:</span><span class="value" data-field="clipTitle">&nbsp;</span><br/>
                                <span class="label">Publisher/Broadcaster:</span><span class="value" data-field="publisher">&nbsp;</span><br/>
                                <span class="label">First broadcast channel:</span><span class="value" data-field="broadcastChannel">&nbsp;</span><br/>
                            </div>
                            <div class="col-md-6">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin ante
                                ac urna consectetur, ut cursus mauris porta. Integer nec tempus urna. Morbi pulvinar
                                blandit velit vel dignissim. Pellentesque ac dolor ut ante bibendum vehicula id vel
                                orci. Proin at dapibus tortor. Morbi a nibh ut sapien suscipit rhoncus. Nunc
                                hendrerit urna orci, vitae eleifend erat lobortis quis. Pellentesque scelerisque
                                vehicula sapien. Etiam laoreet dolor nisi, et tincidunt tellus consectetur vitae.
                                Quisque sit amet nunc turpis. Morbi dapibus mi mauris, vel pretium tortor egestas
                                laoreet.
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-md-4 related">
            <div class="row">
                <div class="col-md-12">
                    <aside class="related" id="related">
                        <!-- RELATED HERE -->
                    </aside>
                    <div class="ad">
                        ADVERTISEMENT
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <footer id="footer">
    <!-- FOOTER HERE -->
  </footer>
</div>