<div class="page item desktop" id="page">
  <script src="libs/europeana-media-player.min.js"></script>
  <div class="container main item">
    	<div class="row">
    	
	    	<!-- left -->
	    	<div class="left col-md-8 col-sm-12">
	    		
	    		<!-- player -->
	    		<div class="row">
    				<div class="player" id="viewer">
    					
    				</div>
	    		</div>
	    		
	    		<!-- player action -->
	    		<div class="row">
	    			<div class="media-action col-md-12" id="media-action">
	    				<ul class="list-inline pull-right button-list">
	    					
	    					<!-- copyright button -->
	    					<li class="copyright">
	    						<button data-toggle="tooltip" data-placement="top" data-title="TERMS" data-overlay="#terms-content">
	    							<i class="icono icono-copyright"></i>
	    						</button>

	    						<!-- terms of use content -->
	    						<div class="overlaycontent big" id="terms-content">
	    							<div id="copyright">
										<!-- terms component here -->
									</div>
								</div>
	    					</li>

	    					<!-- share buttons -->
	    					<li class="share">
	    						<button data-toggle="tooltip" data-placement="top" data-title="SHARE" data-overlay="#share-content">
	    							<i class="icono icono-share"></i>
	    						</button>

	    						<!-- share item content -->
	    						<div id="social">
                                    <!-- social here -->
                                 </div>
	    					</li>

	    					<!-- bookmark button -->
	    					<li class="bookmark">
	    						<button data-toggle="tooltip" data-placement="top" data-title="BOOKMARK" data-overlay="#bookmark-content">
	    							<i class="icono icono-bookmark"></i>
	    						</button>
	    						<div class="overlaycontent" id="bookmark-content">

	    							<!-- login form when user has not logged in -->
	    							<div id="login">
	    								
									</div>
									
									<div id="bookmarker">
										
									</div>
								</div>
	    					</li>
	    				</ul>
	    			</div>
	    		</div>
	    		
	    		<!-- media metadata -->
	    		<div class="row">
	    			<div class="media-metadata col-md-12" id="metadata">
	    				
	    			</div>
	    		</div>
	    		
	    		<!-- more/less button -->
	    		<div class="row">
	    			<div class="more-less col-md-12" id="media-metadata">
        				<div class="more">
        					<a data-toggle="collapse" id="show-extra-filters" data-target="#extra-metadata">SHOW MORE</a>
        					<a data-toggle="collapse" id="hide-extra-filters" data-target="#extra-metadata">SHOW LESS</a>
        				</div>
	    			</div>
	    		</div>
	    	</div>
	    	
	    	<!-- right --> 
	    	<div class="right col-md-4 col-sm-12">
	    		
	    		<div id="alert" class="col-md-12">
	    		</div>
	    		
	    		<!-- section tab (related items/discover more) -->
	    		<div class="row">
	    			<div class="sectiontab col-md-12">
	    				
						<ul class="nav nav-tabs">
							<li class="active"><a href="#home" data-toggle="tab">Related Items</a></li>
							<li class="hidden"><a href="#profile" data-toggle="tab">Discover More</a></li>
						</ul>
	    			</div>
	    		</div>
	    		
				<!-- section's content -->
	    		<div class="row">
	    			<div class="section-content col-md-12 tab-content" id="media-related">

						<!-- related items -->
						<div class="tab-pane active media-relate" id="related">
							<!-- related items here -->
						</div>
						
						<!-- discover more -->
						<div class="tab-pane discover-more" id="profile">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
							labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
							laboris nisi ut aliquip ex ea commodo consequat. 
						</div>
	    			</div>
	    		</div>
	    		
	    		<!-- ads -->
	    		<div class="row hidden">
	    			<div class="ads col-md-12 hidden-sm	hidden-xs">
	        			<span class="wrap">
	        				<a href="/about.html" target="_blank">
			        			<span class="text">
				        			LEARN ABOUT EUSCREEN
			        			</span>
	        				</a>
	        			</span>
	        			<img src="/eddie/apps/euscreenxlelements/img/content/advertising/itempage_about.png" class="img-responsive"/>
	        		</div>
	    		</div>
	    		
	    		<!-- ads 2 -->
	    		<div class="row" id="ads">
	    			<!-- AD HERE -->
	    		</div>
	    	</div>
    	</div>
    </div>
</div>

<!-- modal -->
<div class="modal fade bs-example-modal-lg" id="image-modal" tabindex="-1" role="dialog" aria-labelledby="player-modalLabel" aria-hidden="true">
    
    <!-- close button -->
    <button type="button" class="close" data-dismiss="modal"><i class="icono icono-remove"></i></button>
    
    <!-- modal body -->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        	
        	<!-- modal header -->
            <div class="modal-header">
           		
            	<!-- new window -->
           		<div class="pull-right item-anchor">
                	<a id="image-modal-nav" href="#" target="_blank">
                		Open in new window
                    	<i class="glyphicon glyphicon-external-link fa fa-external-link"></i>
                	</a>
                </div>

                <!-- the title -->
                <h4 class="modal-title" id="player-modalLabel">&nbsp;</h4>
            </div>
            
            <!-- modal content -->
            <div class="modal-body">
            
                <!-- replace with actual video player -->
                <img src="#" id="image-modal-src" class="img-responsive"/>
            </div>
        </div>
    </div>
</div>

<!-- nav -->
<div id="mobilenav" class="mobilenav">
	<!-- mobilenav contents here -->
</div>