<script type="text/template" id="video-template">
	<h1><%= item.title %></h1>

	<!-- metadata list -->
	<div class="row">
		
		<!-- left -->
		<div class="col-md-5 col-sm-5">
			<div class="item">
				<span class="header">ORIGINAL TITLE</span>
				<span class="break-word"><%= item.originalTitle %></span>
			</div>
			<div class="item">
				<span class="header">PROVIDER</span>
				<span class="break-word"><%= item.provider %></span>
			</div>
			<div class="item">
				<span class="header">PRODUCTION YEAR</span>
				<span class="break-word"><%= item.year %></span>
			</div>
			<div class="item">
				<span class="header">LANGUAGE</span>
				<span class="break-word">
					<%= item.language %>	
				</span>
			</div>
		</div>
		
		<!-- right -->
		<div class="col-md-7 col-sm-7">
			<div class="item">
				<span class="header">SUMMARY</span>
				<span>
					<p>
						<%= item.summaryEnglish %>
					</p>
				</span>
			</div>
			<div class="item">
				<span class="header">THIS ITEM IS PART OF THE SERIES/COLLECTION</span>
				<span class="break-word"><%= item.seriesEnglish %></span>
			</div>
		</div>
	</div>
	
	<!-- extra metadata list -->
	<div class="row collapse" id="extra-metadata">
		
		<!-- left -->
		<div class="col-md-5 col-sm-5">
			<div class="item">
				<span class="header">CLIP TITLE</span>
				<span class="break-word"><%= item.clipTitle %></span>
			</div>
			<div class="item">
				<span class="header">PUBLISHER/BROADCASTER</span>
				<span class="break-word"><%= item.publisher %></span>
			</div>
			<div class="item">
				<span class="header">BROADCAST DATE</span>
				<span class="break-word"><%= item.broadcastDate %></span>
			</div>
			<div class="item">
				<span class="header">FIRST BROADCAST CHANNEL</span>
				<span class="break-word"><%= item.broadcastChannel %></span>
			</div>
			<div class="item">
				<span class="header">COUNTRY OF PRODUCTION</span>
				<span class="break-word"><%= item.country %></span>
			</div>
			<div class="item">
				<span class="header">ORIGINAL LANGUAGE</span>
				<span class="break-word"><%= item.language %></span>
			</div>
			<div class="item">
				<span class="header">SUBTITLE LANGUAGE</span>
				<span>-</span>
			</div>
			<div class="item space">
				<span class="header">GEOGRAPHICAL COVERAGE</span>
				<span class="break-word"><%= item.geographicalCoverage %></span>
			</div>
			<div class="item space">
				<span class="header">CONTRIBUTORS</span>
				<span class="break-word"><%= item.contributors %></span>
			</div>
			<div class="item">
				<span class="header">MATERIAL TYPE</span>
				<span class="break-word"><%= item.materialType %></span>
			</div>
			<div class="item">
				<span class="header">RECORD TYPE</span>
				<span class="break-word"><%= item.itemType %></span>
			</div>
			<div class="item">
				<span class="header">ITEM DURATION</span>
				<span class="break-word"><%= item.duration %></span>
			</div>
			<div class="item">
				<span class="header">ITEM COLOUR</span>
				<span class="break-word"><%= item.itemColour %></span>
			</div>
			<div class="item">
				<span class="header">ITEM SOUND</span>
				<span class="break-word"><%= item.itemSound %></span>
			</div>
			<div class="item">
				<span class="header">ASPECT RATIO</span>
				<span class="break-word"><%= item.aspectRatio %></span>
			</div>
			
		</div>
		
		<!-- right -->
		<div class="col-md-7 col-sm-7">
			<div class="item">
				<span class="header">SUMMARY IN ORIGINAL LANGUAGE</span>
				<span class="break-word">
					<p>
						<%= item.summaryOriginal %>
					</p>
				</span>
			</div>
			<div class="item">
				<span class="header">ORIGINAL SERIES/COLLECTION TITLE</span>
				<span class="break-word"><%= item.series %></span>
			</div>
			<div class="item">
				<span class="header">SERIES/SEASON NUMBER</span>
				<span class="break-word"><%= item.seasonNumber %></span>
			</div>
			<div class="item">
				<span class="header">EPISODE NUMBER</span>
				<span class="break-word"><%= item.episodeNumber %></span>
			</div>
			<div class="item">
				<span class="header">GENRE</span>
				<span class="break-word"><%= item.genre %></span>
			</div>
			<div class="item">
				<span class="header">TOPIC</span>
				<span class="break-word"><%= item.topic %></span>
			</div>
			<div class="item">
				<span class="header">KEYWORDS</span>
				<span><%= item.keywords %></span>
			</div>
			<div class="item space">
				<span class="header">THESAURUS TERMS</span>
				<span class="break-word"><%= item.thesaurusTerms %></span>
			</div>
			<div class="item">
				<span class="header">EXTENDED DESCRIPTION</span>
				<span>
					<%= item.extendedDescription %>
				</span>
			</div>
			<div class="item space">
				<span class="header">FURTHER INFORMATION</span>
				<span class="break-word"><%= item.furtherInformation %></span>
			</div>
			<div class="item">
				<span class="header">FILENAME</span>
				<span class="break-word"><%= item.filename %></span>
			</div>
			<div class="item">
				<span class="header">IDENTIFIER</span>
				<span class="break-word"><%= item.identifier %></span>
			</div>
			<div class="item">
				<span class="header">ORIGINAL IDENTIFIER</span>
				<span class="break-word"><%= item.originalIdentifier %></span>
			</div>
			<div class="item">
				<span class="header">DIGITAL ITEM URL</span>
				<span class="break-word"><%= item.digitalItemURL %></span>
			</div>
			<div class="item">
				<span class="header">LANDING PAGE URL</span>
				<span><%= item.landingPageURL %></span>
			</div>
		</div>
	</div>
</script>

<script type="text/template" id="picture-template">
	<h1><%= item.title %></h1>

	<!-- metadata list -->
	<div class="row">
		
		<!-- left -->
		<div class="col-md-5 col-sm-5">
			<div class="item">
				<span class="header">ORIGINAL TITLE</span>
				<span class="break-word"><%= item.originalTitle %></span>
			</div>
			<div class="item">
				<span class="header">PROVIDER</span>
				<span class="break-word"><%= item.provider %></span>
			</div>
			<div class="item">
				<span class="header">PRODUCTION YEAR</span>
				<span class="break-word"><%= item.year %></span>
			</div>
		</div>
		
		<!-- right -->
		<div class="col-md-7 col-sm-7">
			<div class="item">
				<span class="header">SUMMARY</span>
				<span>
					<p>
						<%= item.summaryEnglish %>
					</p>
				</span>
			</div>
			<div class="item">
				<span class="header">THIS ITEM IS PART OF THE SERIES/COLLECTION</span>
				<span class="break-word"><%= item.seriesEnglish %></span>
			</div>
		</div>
	</div>
	
	<!-- extra metadata list -->
	<div class="row collapse" id="extra-metadata">
		
		<!-- left -->
		<div class="col-md-5 col-sm-5">
			<div class="item">
				<span class="header">PUBLISHER/BROADCASTER</span>
				<span class="break-word"><%= item.publisher %></span>
			</div>
			<div class="item">
				<span class="header">BROADCAST DATE</span>
				<span class="break-word"><%= item.broadcastDate %></span>
			</div>
			<div class="item">
				<span class="header">FIRST BROADCAST CHANNEL</span>
				<span class="break-word"><%= item.broadcastChannel %></span>
			</div>
			<div class="item">
				<span class="header">COUNTRY OF PRODUCTION</span>
				<span class="break-word"><%= item.country %></span>
			</div>
			<div class="item space">
				<span class="header">GEOGRAPHICAL COVERAGE</span>
				<span class="break-word"><%= item.geographicalCoverage %></span>
			</div>
			<div class="item space">
				<span class="header">CONTRIBUTORS</span>
				<span>
					<%= item.contributors %>
				</span>
			</div>
			<div class="item">
				<span class="header">MATERIAL TYPE</span>
				<span class="break-word"><%= item.materialType %></span>
			</div>
			<div class="item">
				<span class="header">RECORD TYPE</span>
				<span class="break-word"><%= item.itemType %></span>
			</div>
			<div class="item">
				<span class="header">ITEM COLOUR</span>
				<span class="break-word"><%= item.itemColour %></span>
			</div>
			
		</div>
		
		<!-- right -->
		<div class="col-md-7 col-sm-7">
			<div class="item">
				<span class="header">SUMMARY IN ORIGINAL LANGUAGE</span>
				<span class="break-word">
					<p>
						<%= item.summaryOriginal %>
					</p>
				</span>
			</div>
			<div class="item">
				<span class="header">ORIGINAL SERIES/COLLECTION TITLE</span>
				<span class="break-word"><%= item.series %></span>
			</div>
			<div class="item">
				<span class="header">SERIES/SEASON NUMBER</span>
				<span class="break-word"><%= item.seasonNumber %></span>
			</div>
			<div class="item">
				<span class="header">EPISODE NUMBER</span>
				<span class="break-word"><%= item.episodeNumber %></span>
			</div>
			<div class="item">
				<span class="header">GENRE</span>
				<span class="break-word"><%= item.genre %></span>
			</div>
			<div class="item">
				<span class="header">TOPIC</span>
				<span class="break-word"><%= item.topic %></span>
			</div>
			<div class="item">
				<span class="header">KEYWORDS</span>
				<span><%= item.keywords %></span>
			</div>
			<div class="item space">
				<span class="header">THESAURUS TERMS</span>
				<span class="break-word"><%= item.thesaurusTerms %></span>
			</div>
			<div class="item">
				<span class="header">EXTENDED DESCRIPTION</span>
				<span>
					<%= item.extendedDescription %>
				</span>
			</div>
			<div class="item space">
				<span class="header">FURTHER INFORMATION</span>
				<span class="break-word"><%= item.furtherInformation %></span>
			</div>
			<div class="item">
				<span class="header">FILENAME</span>
				<span class="break-word"><%= item.filename %></span>
			</div>
			<div class="item">
				<span class="header">IDENTIFIER</span>
				<span class="break-word"><%= item.identifier %></span>
			</div>
			<div class="item">
				<span class="header">ORIGINAL IDENTIFIER</span>
				<span class="break-word"><%= item.originalIdentifier %></span>
			</div>
			<div class="item">
				<span class="header">DIGITAL ITEM URL</span>
				<span class="break-word"><%= item.digitalItemURL %></span>
			</div>
			<div class="item">
				<span class="header">LANDING PAGE URL</span>
				<span><%= item.landingPageURL %></span>
			</div>
		</div>
	</div>
</script>

<script type="text/template" id="audio-template">
	<h1><%= item.title %></h1>

	<!-- metadata list -->
	<div class="row">
		
		<!-- left -->
		<div class="col-md-5 col-sm-5">
			<div class="item">
				<span class="header">ARIGINAL TITLE</span>
				<span class="break-word"><%= item.originalTitle %></span>
			</div>
			<div class="item">
				<span class="header">PROVIDER</span>
				<span class="break-word"><%= item.provider %></span>
			</div>
			<div class="item">
				<span class="header">PRODUCTION YEAR</span>
				<span class="break-word"><%= item.year %></span>
			</div>
			<div class="item">
				<span class="header">LANGUAGE</span>
				<span class="break-word"><%= item.language %></span>
			</div>
		</div>
		
		<!-- right -->
		<div class="col-md-7 col-sm-7">
			<div class="item">
				<span class="header">SUMMARY</span>
				<span>
					<p>
						<%= item.summaryEnglish %>
					</p>
				</span>
			</div>
			<div class="item">
				<span class="header">THIS ITEM IS PART OF THE SERIES/COLLECTION</span>
				<span class="break-word"><%= item.seriesEnglish %></span>
			</div>
		</div>
	</div>
	
	<!-- extra metadata list -->
	<div class="row collapse" id="extra-metadata">
		
		<!-- left -->
		<div class="col-md-5 col-sm-5">
			<div class="item">
				<span class="header">CLIP TITLE</span>
				<span class="break-word"><%= item.clipTitle %></span>
			</div>
			<div class="item">
				<span class="header">PUBLISHER/BROADCASTER</span>
				<span class="break-word"><%= item.publisher %></span>
			</div>
			<div class="item">
				<span class="header">BROADCAST DATE</span>
				<span class="break-word"><%= item.broadcastDate %></span>
			</div>
			<div class="item">
				<span class="header">FIRST BROADCAST CHANNEL</span>
				<span class="break-word"><%= item.broadcastChannel %></span>
			</div>
			<div class="item">
				<span class="header">COUNTRY OF PRODUCTION</span>
				<span class="break-word"><%= item.country %></span>
			</div>
			<div class="item">
				<span class="header">ORIGINAL LANGUAGE</span>
				<span class="break-word"><%= item.language %></span>
			</div>
			<div class="item space">
				<span class="header">GEOGRAPHICAL COVERAGE</span>
				<span class="break-word"><%= item.geographicalCoverage %></span>
			</div>
			<div class="item space">
				<span class="header">CONTRIBUTORS</span>
				<span>
					<%= item.contributors %>
				</span>
			</div>
			<div class="item">
				<span class="header">MATERIAL TYPE</span>
				<span class="break-word"><%= item.materialType %></span>
			</div>
			<div class="item">
				<span class="header">RECORD TYPE</span>
				<span class="break-word"><%= item.itemType %></span>
			</div>
			<div class="item">
				<span class="header">ITEM DURATION</span>
				<span class="break-word"><%= item.duration %></span>
			</div>
			<div class="item">
				<span class="header">ITEM SOUND</span>
				<span class="break-word"><%= item.itemSound %></span>
			</div>
			
		</div>
		
		<!-- right -->
		<div class="col-md-7 col-sm-7">
			<div class="item">
				<span class="header">SUMMARY IN ORIGINAL LANGUAGE</span>
				<span class="break-word">
					<p>
						<%= item.summaryOriginal %>
					</p>
				</span>
			</div>
			<div class="item">
				<span class="header">ORIGINAL SERIES/COLLECTION TITLE</span>
				<span class="break-word"><%= item.series %></span>
			</div>
			<div class="item">
				<span class="header">SERIES/SEASON NUMBER</span>
				<span class="break-word"><%= item.seasonNumber %></span>
			</div>
			<div class="item">
				<span class="header">EPISODE NUMBER</span>
				<span class="break-word"><%= item.episodeNumber %></span>
			</div>
			<div class="item">
				<span class="header">GENRE</span>
				<span class="break-word"><%= item.genre %></span>
			</div>
			<div class="item">
				<span class="header">TOPIC</span>
				<span class="break-word"><%= item.topic %></span>
			</div>
			<div class="item">
				<span class="header">KEYWORDS</span>
				<span><%= item.keywords %></span>
			</div>
			<div class="item space">
				<span class="header">THESAURUS TERMS</span>
				<span class="break-word"><%= item.thesaurusTerms %></span>
			</div>
			<div class="item">
				<span class="header">EXTENDED DESCRIPTION</span>
				<span>
					<%= item.extendedDescription %>
				</span>
			</div>
			<div class="item space">
				<span class="header">FURTHER INFORMATION</span>
				<span class="break-word"><%= item.furtherInformation %></span>
			</div>
			<div class="item">
				<span class="header">FILENAME</span>
				<span class="break-word"><%= item.filename %></span>
			</div>
			<div class="item">
				<span class="header">IDENTIFIER</span>
				<span class="break-word"><%= item.identifier %></span>
			</div>
			<div class="item">
				<span class="header">ORIGINAL IDENTIFIER</span>
				<span class="break-word"><%= item.originalIdentifier %></span>
			</div>
			<div class="item">
				<span class="header">DIGITAL ITEM URL</span>
				<span class="break-word"><%= item.digitalItemURL %></span>
			</div>
			<div class="item">
				<span class="header">LANDING PAGE URL</span>
				<span><%= item.landingPageURL %></span>
			</div>
		</div>
	</div>
</script>

<script type="text/template" id="doc-template">
	<h1><%= item.title %></h1>

	<!-- metadata list -->
	<div class="row">
		
		<!-- left -->
		<div class="col-md-5 col-sm-5">
			<div class="item">
				<span class="header">ARIGINAL TITLE</span>
				<span class="break-word"><%= item.originalTitle %></span>
			</div>
			<div class="item">
				<span class="header">PROVIDER</span>
				<span class="break-word"><%= item.provider %></span>
			</div>
			<div class="item">
				<span class="header">PRODUCTION YEAR</span>
				<span class="break-word"><%= item.year %></span>
			</div>
			<div class="item">
				<span class="header">LANGUAGE</span>
				<span class="break-word"><%= item.language %></span>
			</div>
		</div>
		
		<!-- right -->
		<div class="col-md-7 col-sm-7">
			<div class="item">
				<span class="header">SUMMARY</span>
				<span>
					<p>
						<%= item.summaryEnglish %>
					</p>
				</span>
			</div>
			<div class="item">
				<span class="header">THIS ITEM IS PART OF THE SERIES/COLLECTION</span>
				<span class="break-word"><%= item.seriesEnglish %></span>
			</div>
		</div>
	</div>
	
	<!-- extra metadata list -->
	<div class="row collapse" id="extra-metadata">
		
		<!-- left -->
		<div class="col-md-5 col-sm-5">
			<div class="item">
				<span class="header">PUBLISHER/BROADCASTER</span>
				<span class="break-word"><%= item.publisher %></span>
			</div>
			<div class="item">
				<span class="header">BROADCAST DATE</span>
				<span class="break-word"><%= item.broadcastDate %></span>
			</div>
			<div class="item">
				<span class="header">FIRST BROADCAST CHANNEL</span>
				<span class="break-word"><%= item.broadcastChannel %></span>
			</div>
			<div class="item">
				<span class="header">COUNTRY OF PRODUCTION</span>
				<span class="break-word"><%= item.country %></span>
			</div>
			<div class="item">
				<span class="header">ORIGINAL LANGUAGE</span>
				<span class="break-word"><%= item.language %></span>
			</div>
			<div class="item space">
				<span class="header">GEOGRAPHICAL COVERAGE</span>
				<span class="break-word"><%= item.geographicalCoverage %></span>
			</div>
			<div class="item space">
				<span class="header">CONTRIBUTORS</span>
				<span>
					<%= item.contributors %>
				</span>
			</div>
			<div class="item">
				<span class="header">MATERIAL TYPE</span>
				<span class="break-word"><%= item.materialType %></span>
			</div>
			<div class="item">
				<span class="header">RECORD TYPE</span>
				<span class="break-word"><%= item.itemType %></span>
			</div>
			<div class="item">
				<span class="header">ITEM COLOUR</span>
				<span class="break-word"><%= item.itemColour %></span>
			</div>
			
		</div>
		
		<!-- right -->
		<div class="col-md-7 col-sm-7">
			<div class="item">
				<span class="header">SUMMARY IN ORIGINAL LANGUAGE</span>
				<span class="break-word">
					<p>
						<%= item.summaryOriginal %>
					</p>
				</span>
			</div>
			<div class="item">
				<span class="header">ORIGINAL SERIES/COLLECTION TITLE</span>
				<span class="break-word"><%= item.series %></span>
			</div>
			<div class="item">
				<span class="header">SERIES/SEASON NUMBER</span>
				<span class="break-word"><%= item.seasonNumber %></span>
			</div>
			<div class="item">
				<span class="header">EPISODE NUMBER</span>
				<span class="break-word"><%= item.episodeNumber %></span>
			</div>
			<div class="item">
				<span class="header">GENRE</span>
				<span class="break-word"><%= item.genre %></span>
			</div>
			<div class="item">
				<span class="header">TOPIC</span>
				<span class="break-word"><%= item.topic %></span>
			</div>
			<div class="item">
				<span class="header">KEYWORDS</span>
				<span><%= item.keywords %></span>
			</div>
			<div class="item space">
				<span class="header">THESAURUS TERMS</span>
				<span class="break-word"><%= item.thesaurusTerms %></span>
			</div>
			<div class="item">
				<span class="header">EXTENDED DESCRIPTION</span>
				<span>
					<%= item.extendedDescription %>
				</span>
			</div>
			<div class="item space">
				<span class="header">FURTHER INFORMATION</span>
				<span class="break-word"><%= item.furtherInformation %></span>
			</div>
			<div class="item">
				<span class="header">FILENAME</span>
				<span class="break-word"><%= item.filename %></span>
			</div>
			<div class="item">
				<span class="header">IDENTIFIER</span>
				<span class="break-word"><%= item.identifier %></span>
			</div>
			<div class="item">
				<span class="header">ORIGINAL IDENTIFIER</span>
				<span class="break-word"><%= item.originalIdentifier %></span>
			</div>
			<div class="item">
				<span class="header">DIGITAL ITEM URL</span>
				<span class="break-word"><%= item.digitalItemURL %></span>
			</div>
			<div class="item">
				<span class="header">LANDING PAGE URL</span>
				<span><%= item.landingPageURL %></span>
			</div>
		</div>
	</div>
</script>

<div class="contents">
	<!-- put template contents here -->
</div>
<!-- title of media -->