<div class="overlaycontent" id="share-content">
    <h3>Share this item</h3>
    <ul class="list-inline share-list">    
        <li><a href="#" title="Share to Facebook" id="button-facebook" class="share-icon">
            <i class="icono icono-facebook"></i>
        </a></li>
        <li><a href="#" title="Share to Twitter" id="button-twitter" class="share-icon">
            <i class="icono icono-twitter"></i>
        </a></li>
    </ul>
    <h3>Or copy link</h3>
    <!-- permalink -->
    <div class="permalink input-group">
        <input type="text" class="form-control" readonly/>
        <div class="share-copy">
        	Copy
        </div>
    </div>
</div>