<div class="overlaycontent" id="share-content">
    <h3>SHARE THIS ITEM</h3>
    <ul class="list-inline">    
        <li><a href="#" title="Share to Facebook" id="button-facebook">
            <span class="glyphicon glyphicon-stack glyphicon-lg fa fa-stack fa-lg">
                <i class="glyphicon glypicon-circle glyphicon-stack-2x fa fa-circle fa-stack-2x"></i>
                <i class="glyphicon glyphicon-facebook glyphicon-stack1x glypicon-inverse fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
        </a></li>
        <li><a href="#" title="Share to Twitter" id="button-twitter">
            <span class="glyphicon glyphicon-stack glyphicon-lg fa fa-stack fa-lg">
                <i class="glyphicon glypicon-circle glyphicon-stack-2x fa fa-circle fa-stack-2x"></i>
                <i class="glyphicon glyphicon-twitter glyphicon-stack-1x glyphicon-inverse fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
        </a></li>
        <li><a href="#" title="Share to Google +" id="button-google">
            <span class="glyphicon glyphicon-stack glyphicon-lg fa fa-stack fa-lg">
                <i class="glyphicon glypicon-circle glyphicon-stack-2x fa fa-circle fa-stack-2x"></i>
                <i class="glyphicon glyphicon-google-plus glyphicon-stack-1x glypicon-inverse fa fa-google-plus fa-stack-1x fa-inverse"></i>
            </span>
        </a></li>
    </ul>
    
    <!-- permalink -->
    <div class="permalink input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-link fa fa-link"></i></span>
        <input type="text" class="form-control" readonly value="http://loremipsum.com/v/12412"/>
    </div>
</div>