<script type="text/template" id="related-items-template">
<% var c = 0; %>
<% var i = 0; %>
<% while((c < items.length) && (i < 5)){ %> 
	<% var item = items[c]; %>
	<% if(item.screenshot){ %>
		<% i++ %>
		<div class="row media-item" data-id="<%= item.id %>">
			<div class="media-image col-md-12 col-xs-12 col-sm-12 col-xs-12">
				<div class="media-wrapper">
					<span class="title"><%= item.title %></span>
					<img class="media-object img-responsive" alt="<%= item.title %>" src="<% if(item.screenshot){print(item.screenshot)}else{print('http://images1.noterik.com/domain/euscreen/thumbs/7/7/EUS_7724608B7F54413B9C3EAFAEFC0B072E.jpg')} %>">
					<% if(item.type == "video"){ %>
						<span class="media-length"><%= item.duration %></span>
					<% } %>
					<span class="media-hue"><i class="glyphicon glyphicon-play"></i></span>
					<i class="media-type <%= item.type %>"></i>
				</div>
			</div>
		</div>
	<% } %>
	<% c++; %>
<% } %>
</script>
<div class="items">
</div>